@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/U8lab.css" rel="stylesheet" />
<style>
    .table td {
        text-align: center;
    }

    .table th {
        text-align: center;
    }
</style>
<script src="~/Scripts/bootstrap-table.min.js"></script>
<link href="~/Content/bootstrap-table.min.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap-table-zh-CN.min.js"></script>

<div class="mycenter">
    <img src="@Url.Content("~/image/atv.png")" alt="知识库" />
    <span>知识库</span>
    <div class="question-nav" style="margin-top:10px;">
        <a class="btn btn-default" href="/U8Question/Index?questionCategory=1" role="button">我的问题</a>
        <a class="btn btn-default" href="/U8Question/Index?questionCategory=2" role="button">知识库</a>
        <a class="btn btn-default" href="/U8Question/Index?questionCategory=3" role="button">需我回答的问题</a>
        <a class="btn btn-default" href="/U8Question/Index?questionCategory=4" role="button">所有问题</a>
        <a class="btn btn-default pull-right" href="#" id="askQuestion" role="button" style="background-color:lightblue;margin-left:40px;">+ <span>我要提问</span></a>
    </div>
    <div style="margin-top:20px;">
        <a class="pull-left" href="/U8Question/Index?questionCategory=2&knowledgeCategory=1" role="button">最新知识</a>
        <span>&nbsp;|&nbsp;</span>
        <a class="" href="/U8Question/Index?questionCategory=2&knowledgeCategory=2" role="button">最热门知识</a>
    </div>
    @*<div class="container" style="padding-left:1px;padding-right:1px;">
        <table class="table table-hover table-striped table-responsive"
               data-toggle="table"
               data-click-to-select="true"
               data-row-style="rowStyle"
               data-query-params="queryParams"
               data-pagination="true"
               data-search="true"
               data-search-align="right">
            <thead>
                <tr>
                    <th>序号</th>
                    <th>文档编号</th>
                    <th>名称</th>
                    <th>所属类别</th>
                    <th>人气指数</th>
                    <th>专家姓名</th>
                </tr>
            </thead>
            <tbody id="myTable">
                <tr>
                    <td>1</td>
                    <td>2089</td>
                    <td>
                        <a href="#">栏目如何使用初步</a>
                    </td>
                    <td>
                        <span>[公共控件]</span>
                    </td>
                    <td>
                        <span>人气:8</span>
                    </td>
                    <td>
                        <span>专家:SuperLee</span>
                    </td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>2090</td>
                    <td>
                        <a href="#">栏目如何使用初步</a>
                    </td>
                    <td>
                        <span>[公共控件]</span>
                    </td>
                    <td>
                        <span>人气:8</span>
                    </td>
                    <td>
                        <span>专家:SuperLee</span>
                    </td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>2089</td>
                    <td>
                        <a href="#">栏目如何使用初步</a>
                    </td>
                    <td>
                        <span>[公共控件]</span>
                    </td>
                    <td>
                        <span>人气:8</span>
                    </td>
                    <td>
                        <span>专家:SuperLee</span>
                    </td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>2089</td>
                    <td>
                        <a href="#">栏目如何使用初步</a>
                    </td>
                    <td>
                        <span>[公共控件]</span>
                    </td>
                    <td>
                        <span>人气:8</span>
                    </td>
                    <td>
                        <span>专家:SuperLee</span>
                    </td>
                </tr>
            </tbody>
            </table>
    </div>*@

    <table class="sldatatablefix Result_table" id="table-javascript" data-height=""></table>
    <div style="display:none">
        <table class="sldatatable">
            <!--最终加载的数据都存在这个table里-->
            <tr class="sldatatableheader" style="height: 0px;"></tr>
        </table>
    </div>
    @Html.Partial("~/Views/Common/RenderPaging.cshtml")
</div>
<script type="text/javascript">
    $(function () {
        $("#askQuestion").click(askQuestion);
        search();
    })

    function askQuestion() {
        location.href = "/U8Question/AddNewQuestion";
    }


    function search() {
        var data = "";

        //增加分页
        var currentPage = $("#txtCurrentPage").val();
        var pageSize = $("#txtPageSize").val();
        var questionCategory = "@ViewBag.questionCategory";
        var knowledgeCategory="@ViewBag.knowledgeCategory"

        data = data + "currentPage=" + encodeURI(currentPage);
        data = data + "&pageSize=" + encodeURI(pageSize);
        data = data + "&questionCategory=" + encodeURI(questionCategory);
        data = data + "& ViewBag.knowledgeCategory=" + encodeURI(knowledgeCategory);

        //查询
        $.ajax({
            async: true,
            type: "POST",
            url: "/U8Question/SearchQuestionList",
            cache: false,
            timeout: 60 * 60 * 1000,
            dataType: "json",
            data: data,
            success: function (result) {
                $(".sldatatablefix tbody").empty();//清除上次查询的数据

                $(".sldatatable .sldatatablerow").remove();
                if (result != null && result.Message == "@(U8DevelopComunity.Common.U8StandardMessage.Success)") {

                    $("#txtMaxPage").val(Math.ceil(result.Total / $('#txtPageSize').val()));
                    $("#TotalCount").html(result.Total);
                    var currentPage = parseInt($("#CurrentPage").val());
                    if (currentPage > result.MaxPage) {
                        $("#txtCurrentPage").val(1);
                        search();
                    }

                    //正常返回且查询成功
                    $(function () {
                        $('#table-javascript').bootstrapTable('destroy').bootstrapTable({
                            data: result.Rows,
                            //height: $('.slshowPart').innerHeight() - 34,
                            striped: true,
                            search: true,
                            showColumns: true,
                            minimumCountColumns: 4,
                            columns: [{
                                field: 'XuHao',
                                title: '序号',
                                align: 'center',
                            }, {
                                field: 'Id',
                                title: '文档编号',
                                align: 'center',
                            }, {
                                field: 'Title',
                                title: '名称',
                                align: 'center',
                            },{
                                field: 'ProcessStatus',
                                title: '问题状态',
                                align: 'center',
                            },{
                                field: 'SonCategoryName',
                                title: '所属类别',
                                align: 'center',
                            }, {
                                field: 'Popularity',
                                title: '人气指数',
                                align: 'center',
                            }, {
                                field: 'ExpertName',
                                title: '专家姓名',
                                align: 'center',
                            }]
                        });
                    });
                }
                else {
                    $('#table-javascript').bootstrapTable('destroy').bootstrapTable({
                        columns: [{
                            field: 'NoData',
                            title: '查无数据',
                            align: 'center',
                        }]
                    });
                }
            }
        });
    }
</script>

