
@model Entity.U8Question
@{
    ViewBag.Title = "QuestionDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";

    //专家+不是未解决（才可以设为知识库内容）
    bool setKnowledgeAble = false;
    U8DevelopComunity.Common.Identity identity = U8DevelopComunity.Common.Identity.User;
    if (identity.Role == "专家" && Model.ProcessStatus != "未解决")
    {
        setKnowledgeAble = true;
    }

    //问题提出者（显示关闭问题+设为满意答案按钮）
    Business.U8Question u8question = new Business.U8Question();
    bool isQuestionAuthor = u8question.isQuestionAuthor(U8DevelopComunity.Common.Config.ConnectionString, Model.ID.ToString(), identity.UserId);

    string userid = u8question.GetUserIdByQuestionId(U8DevelopComunity.Common.Config.ConnectionString, Model.ID.ToString());

}

<!--问题详细信息展示-->
<style>
    fieldset {
        display: block;
        -webkit-margin-start: 2px;
        -webkit-padding-start: 0.75em;
        border: 2px groove threedface;
        width: auto;
    }

    legend {
        display: block;
        -webkit-padding-start: 2px;
        border: none;
        width: auto;
        color: #999999;
        font-size: 14px;
        font-weight: normal;
    }

    fieldset label {
        color: #999999;
        font-size: 14px;
        font-weight: normal;
    }

    .myul li {
       height:30px;
       line-height:30px;
    }
    #answerRegion  legend{
        margin-bottom:0;
    }
    #answerRegion fieldset{
        margin-bottom:20px;
    }
</style>
<link href="~/Content/U8lab.css" rel="stylesheet" />
<div style="margin-top:60px;">
    <h4 style="margin-top:20px;display:inline-block;">@Model.Title</h4><img src="@Url.Content("~/image/g.gif")" style="margin-left:10px;" />@Model.OfferReward
    <div>
        <ul class="myul" style="list-style-type:none;padding:0;">
            <li>
                问题编号：@Model.ID
            </li>
            <li>
                所属产品：@Model.ProductBelong
            </li>
            <li>
                优先级：@Model.Provility
            </li>
            <li>
                期望解决时间:@Model.ExpectFixTime
            </li>
            <li>
                项目:@Model.Project
            </li>
        </ul>

        <div style="margin-top:10px;">
            <fieldset>
                <legend align=center style="margin-bottom:0;">问题内容</legend>
                <p>@Html.Raw(Model.QuestionContent)</p>
            </fieldset>
        </div>

        <ul style="list-style-type:none;padding:0;margin-top:10px;" class="myul clearfix">
            <li style="float:left;">
                <label style="color:#999999; font-weight: normal;">提问者：</label><a href="/U8System/PersonalPage?userid=@userid">@Model.Submiter</a>
            </li>
            <li style="float:left;margin-left:10px;color:#999999;">
                人气:@Model.Popularity
            </li>
            <li style="float:left;margin-left:10px;color:#999999;">
                提问时间：@Model.SubmitTime
            </li>
        </ul>
    </div>
</div>

<!--回答列表-->
<div id="answerRegion" style="clear:both;">

</div>

<!--回答问题区域-->
<div style="margin-top:30px;">
    <fieldset style="margin:10px 0;">
        <legend align="center" style="margin-bottom:0;">回答问题</legend>
        @if (Model.ProcessStatus != "已关闭")
        {
           <div style="height:30px;line-height:30px;">
               <label for="answerContent" style="margin:0;height:30px;display:inline-block;line-height:30px;">回复内容：</label>
               <input type="text" id="answerContent" value="" style="height:30px;line-height:30px;" />
           </div>
            <input type="button" value="回答问题" id="commitAnswer" style="margin:10px 0 ;"  />
        }
        else
        {
            <label style="color:red">问题已经关闭，不能回复！</label>
        }
    </fieldset>
</div>

<!--操作区域-->
<div style="margin-top:30px;">

    @if (setKnowledgeAble && !Model.InKnowledgeLib)
    {
        <input type="button" id="tobeKnowledge" value="设为知识库内容" />
    }
    @if (isQuestionAuthor && Model.ProcessStatus != "已关闭")
    {
        <input type="button" id="closeQuestion" value="关闭问题" />
    }
</div>
<script>
    $(function () {
        $('#commitAnswer').click(submitAnswer);
        $('#closeQuestion').click(closeQuestion);
        $('#tobeKnowledge').click(pushIntoKnowledge);
        IniAnswer();
    });

    function closeQuestion() {
        if (!confirm("您确定要关闭该问题吗？")) {
            return;
        }

        var questionid = '@Model.ID';

        var data = "";

        data = data + "QuestionId=" + encodeURI(questionid);

        //新建批次
        $.ajax({
            async: true,
            type: "POST",
            url: "/U8Question/CloseQuestion",
            cache: false,
            timeout: 60 * 60 * 1000,
            dataType: "json",
            data: data,
            success: function (result) {

                if (result != null && result.Message == "@(U8DevelopComunity.Common.U8StandardMessage.Success)") {//正常返回且成功
                    location.href = "/U8Question/Index";
                }
                else {
                    if (result != null) {//处理cookie超时
                        if (result.Message === 'TimeOut') { alert('登录超时，请重新登录！'); }
                        else { alert(result.Message); IniAnswer(); }
                    }
                }
            }
        });
    }

    function pushIntoKnowledge() {
        if (!confirm("您确定要将该问题设为知识库内容吗？")) {
            return;
        }

        var questionid = '@Model.ID';

        var data = "";

        data = data + "QuestionId=" + encodeURI(questionid);

        //新建批次
        $.ajax({
            async: true,
            type: "POST",
            url: "/U8Question/PushIntoKnowledge",
            cache: false,
            timeout: 60 * 60 * 1000,
            dataType: "json",
            data: data,
            success: function (result) {

                if (result != null && result.Message == "@(U8DevelopComunity.Common.U8StandardMessage.Success)") {//正常返回且成功
                    location.href = "/U8Question/Index";
                }
                else {
                    if (result != null) {//处理cookie超时
                        if (result.Message === 'TimeOut') { alert('登录超时，请重新登录！'); }
                        else { alert(result.Message); IniAnswer(); }
                    }
                }
            }
        });
    }

    function editAnswer() {
        var answerid = $(this).attr('answerid');
        $(this).css('display', 'none');
        $(this).parent().find('a').eq(0).css('display', 'none');
        $(this).next().css('display', 'inline-block')
        $(this).next().next().css('display', 'inline-block')
        $(".commitEdit").click(commitEdit);
        $(".cancleEdit").click(cancleEdit);
        $(this).parent().parent().find('input').eq(0).removeAttr('disabled');
    }

    function commitEdit() {
        if (!confirm("您确定要修改吗？")) {
            return;
        }

        var answerid = $(this).attr('answerid');
        var content = $(this).parent().parent().find('input').eq(0).val();

        var data = "";

        data = data + "AnswerId=" + encodeURI(answerid);
        data = data + "&AnswerContent=" + encodeURI(content);

        //新建批次
        $.ajax({
            async: true,
            type: "POST",
            url: "/U8Question/EditAnswer",
            cache: false,
            timeout: 60 * 60 * 1000,
            dataType: "json",
            data: data,
            success: function (result) {

                if (result != null && result.Message == "@(U8DevelopComunity.Common.U8StandardMessage.Success)") {//正常返回且成功
                    IniAnswer();
                }
                else {
                    if (result != null) {//处理cookie超时
                        if (result.Message === 'TimeOut') { alert('登录超时，请重新登录！'); }
                        else { alert(result.Message); IniAnswer(); }
                    }
                }
            }
        });
    }

    function cancleEdit() {
        $(this).parent().parent().find('input').eq(0).attr('disabled', 'disabled');
        $(this).css('display', 'none');
        $(this).prev().css('display', 'none');
        $(this).parent().parent().find('input').eq(1).css('display', 'inline-block');
        $(this).parent().find('a').eq(0).css('display', 'inline-block');
        IniAnswer();
    }

    function IniAnswer() {
        var questionId = '@Model.ID';

        var data = "";

        data = data + "QuestionId=" + encodeURI(questionId);

        //新建批次
        $.ajax({
            async: true,
            type: "POST",
            url: "/U8Question/IniAnswer",
            cache: false,
            timeout: 60 * 60 * 1000,
            dataType: "json",
            data: data,
            success: function (result) {

                if (result != null && result.Message == "@(U8DevelopComunity.Common.U8StandardMessage.Success)") {//正常返回且成功
                    $('#answerRegion').html(result.Content);
                    $('.deleteAnswer').click(deleteAnswer);
                    $('.editAnswer').click(editAnswer);
                    $('.tobeBestAnswer').click(bestAnswer);
                }
                else {
                    if (result != null) {//处理cookie超时
                        if (result.Message === 'TimeOut') { alert('登录超时，请重新登录！'); }
                        else { alert(result.Message); IniAnswer(); }
                    }
                }
            }
        });
    }

    function bestAnswer() {
        if (!confirm("您确定要设置该回答为最佳答案吗？")) {
            return;
        }
        var answerid = $(this).attr('answerid');
        var data = "";

        data = data + "id=" + encodeURI(answerid);

        //新建批次
        $.ajax({
            async: true,
            type: "POST",
            url: "/U8Question/TobeBestAnswer",
            cache: false,
            timeout: 60 * 60 * 1000,
            dataType: "json",
            data: data,
            success: function (result) {

                if (result != null && result.Message == "@(U8DevelopComunity.Common.U8StandardMessage.Success)") {//正常返回且成功
                    //IniAnswer();
                    location.href = "/U8Question/QuestionDetails?id=@Model.ID";
                }
                else {
                    if (result != null) {//处理cookie超时
                        if (result.Message === 'TimeOut') { alert('登录超时，请重新登录！'); }
                        else { alert(result.Message); IniAnswer(); }
                    }
                }
            }
        });
    }

    function deleteAnswer() {
        if (!confirm("您确定要删除该回答吗？")) {
            return;
        }

        var id = $(this).attr('answerid');

        var data = "";

        data = data + "id=" + encodeURI(id);

        //新建批次
        $.ajax({
            async: true,
            type: "POST",
            url: "/U8Question/DeleteAnswer",
            cache: false,
            timeout: 60 * 60 * 1000,
            dataType: "json",
            data: data,
            success: function (result) {

                if (result != null && result.Message == "@(U8DevelopComunity.Common.U8StandardMessage.Success)") {//正常返回且成功
                    //alert("删除成功");
                    @*//添加成功后刷新批次列表页面
                    location.href = "/U8Question/QuestionDetails?id=@Model.ID";*@
                    IniAnswer();
                }
                else {
                    if (result != null) {//处理cookie超时
                        if (result.Message === 'TimeOut') { alert('登录超时，请重新登录！'); }
                        else { alert(result.Message); IniAnswer(); }
                    }
                }
            }
        });
    }

    function submitAnswer() {
        if (!confirm("您确定要回答问题吗？")) {
            return;
        }

        var content = $('#answerContent').val();
        var questionId = '@Model.ID';
        var receiver = '@Model.Submiter';
        var noticeInfo = '@Model.Title';
        var infoId = '@Model.ID';

        var data = "";

        data = data + "AnswerContent=" + encodeURI(content);
        data = data + "&QuestionId=" + encodeURI(questionId);
        data = data + "&Receiver=" + encodeURI(receiver);
        data = data + "&NoticeInfo=" + encodeURI(noticeInfo);
        data = data + "&InfoId=" + encodeURI(infoId);


        //新建批次
        $.ajax({
            async: true,
            type: "POST",
            url: "/U8Question/AddNewAnswer",
            cache: false,
            timeout: 60 * 60 * 1000,
            dataType: "json",
            data: data,
            success: function (result) {

                if (result != null && result.Message == "@(U8DevelopComunity.Common.U8StandardMessage.Success)") {//正常返回且成功
                    //alert("回答成功");
                    $('#answerContent').val("");
                    IniAnswer();
                }
                else {
                    if (result != null) {//处理cookie超时
                        if (result.Message === 'TimeOut') { alert('登录超时，请重新登录！'); }
                        else { alert(result.Message); IniAnswer(); }
                    }
                }
            }
        });
    }
</script>

